.Header {
    display: flex;
    background-color: pink;
    margin: 10px;
    justify-content: space-between;
}

.MainMenuLogo {
    display: block;
}

.HeaderNavigation {
    width: 100%;
    height: 50;
    background-color: blue;
}

.HeaderNavigation ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    float: right;
    margin-top: 20;
    margin-bottom: 20;
    padding-left: 25;
    padding-right: 25;
}

@media (max-width: 767px) {
    .Header {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px;
    }
    .HeaderNavigation ul {
        background-color: blueviolet;
        position: absolute;
        margin-top: 50;
        width: 100vw;
        height: 100vh;
        display: inline;
        top: -100vh;
        transition: all 0.5s ease-out allow-discrete;
        opacity: 0;
    }

    .OpenHeaderMenu ul {
        display: inline;
        opacity: 1;
        top: 0;
    }
}
