.Header {
    display: flex;
    background-color: pink;
    padding: 10px;
    justify-content: space-between;
    background-color: var(--main-color);
    color: var(--secundary-color);
}

.MainMenuLogo {
    display: block;
}

.HeaderNavigation {
    width: 100%;
    height: 50;
}

.HeaderNavigation ul {
    display: flex;
    padding: 10px;
    font-size: calc(14px + (18 - 14) * ((100vw - 600px) / (1600 - 600)));
    gap: 10px;
    flex-wrap: wrap;
    float: right;
    margin-top: 20;
    margin-bottom: 20;
    font-family: 'Metamorphous';
}

@media (max-width: 767px) {
    .Header {
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
    .HeaderNavigation ul {
        background-color: color-mix(in srgb, var(--main-color) 98%, white 2%);
        color: color-mix(in srgb, var(--secundary-color) 98%, white 2%);
        font-size: 1.2em;
        position: absolute;
        margin-top: 50;
        width: 100vw;
        height: 100vh;
        top: -100vh;
        transition: all 0.5s ease-out allow-discrete;
        opacity: 0;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 60;
    }
    .HeaderNavigation ul li {
        max-width: 80vw;
        text-align: center;
    }
    .OpenHeaderMenu ul {
        display: flex;
        opacity: 1;
        top: 0;
    }
}
