.pageMainWrapper {
    background-color: #ffc0cb;
    width: min(100vw, 800px);
    margin-left: auto;
    margin-right: auto;
    padding: 10;
    display: block;
    box-sizing: border-box;
}

.form {
    display: flex;
    gap: 20;
    flex-direction: column;
}

.formTitle {
    text-align: center;
}

.formDescription {
    font-style: italic;
    margin-bottom: 20;
}

.formFieldGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 10;
}

.textFieldWrapper {
    width: 100%;
}

.formFieldField {
    border: 5px var(--gray-highlights-color);
    background-color: var(--lightest-background-color);
    padding: 10;
    border-radius: 5;
}

.formField input {
    height: 20;
}

.textFieldWrapper textarea {
    min-height: 200;
    border-radius: 5;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    box-sizing: border-box;
}

.formFieldErrorMessage {
    font-style: italic;
    color: var(--gray-highlights-color);
    padding-top: 5;
    padding-left: 10;
    font-size: 12;
    height: 10;
}

.inputSubmit {
    width: 100px;
    border: 3px #666;
    background: #ccc;
    color: var(--pure-white);
    padding: 5px;
    font-weight: 800;
    box-shadow: 5px 5px var(--pure-black);
    border-radius: 5px;
    margin-right: 10px;
    align-self: end;
}

.formFieldSubmitButton {
    display: flex;
    flex-flow: column;
    gap: 5;
    align-items: end;
    justify-content: end;
}

.formFieldSubmitButton .formFieldErrorMessage {
    margin-right: 5;
}
