.Hamburger {
    display: none;
}

@media (max-width: 767px) {
    .Hamburger {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: space-around;
        flex-flow: column;
        flex-wrap: nowrap;
        margin: 5px;
        position: absolute;
        right: 5px;
        z-index: 20;
    }

    .OpenHeaderMenu {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: space-around;
        flex-flow: column;
        flex-wrap: nowrap;
        z-index: 20;
    }

    .Hamburger div {
        width: 2rem;
        height: 0.15rem;
        border-radius: 10;
        transform-origin: 1px;
        transition: all 0.3s linear;
    }

    .HamburgerBar1,
    .HamburgerBar2,
    .HamburgerBar3 {
        width: 25px;
        height: 3px;
        background-color: var(--secundary-color);

        margin: 4px 0;
        transition: 0.2s;
    }

    .HamburgerBar3 {
        margin-bottom: 0px;
    }

    .OpenHamburgerMenu .HamburgerBar1 {
        transform: rotate(45deg) translate(6px, -2px);
    }

    .OpenHamburgerMenu .HamburgerBar3 {
        transform: rotate(-45deg) translate(4px, 4px);
    }

    .OpenHamburgerMenu .HamburgerBar2 {
        opacity: 0;
    }
}
