.SharedCarouselContainer {
    height: 50vh;
    width: 100vw;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.SharedCarouselIndividualSlide {
    display: none;
    height: 50vh;
    width: 100vw;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.SharedCarouselActiveSlide {
    display: inline-block;
}

.SharedCarouselSlideImage {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.SharedCarouselTextWrapper {
    width: 100%;
    height: 100%;
    color: wheat;
    padding-left: 20px;
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 65%;
    z-index: 5;
}

.SharedCarouselSlideTitle {
    font-family: var(--style-font-family);
    font-size: calc(18px + (24 - 14) * ((100vw - 100px) / (1600 - 600)));
}

.SharedCarouselSlideDesc {
    font-size: 2rem;
    font-size: calc(12px + (24 - 14) * ((100vw - 100px) / (1600 - 600)));
}


.SharedCarouselButton {
    z-index: 7;
    position: absolute;
    border-top-left-radius: 0;
    border-top-right-radius: 5;
    border-bottom-right-radius: 5;
    border-bottom-left-radius: 0;
    font-weight: bold;
    font-size: 40px;
    margin-top: -3rem;
    width: auto;
    top: 50%;
}

.SharedCarouselButton:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in;
}

.NextButton {
    right: 0;

    border-top-left-radius: 5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5;
}

.SharedCarouselAllDots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 85%;
    justify-content: center;
    z-index: 9;
}

.SharedCarouselDot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0p;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: 1px
    display: inline-block;
}

.SharedCarouselActiveDot {
    background-color: rgba(255, 255, 255, 0.5);
}

.SharedCarouselDot:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
    .SharedCarouselControls {
        display: none
    }
}