.SharedCarouselContainer {
    height: 50vh;
    width: 100vw;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.SharedCarouselIndividualSlide {
    display: none;
    height: 50vh;
    width: 100vw;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.SharedCarouselActiveSlide {
    display: inline-block;
}

.SharedCarouselSlideImage {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.SharedCarouselSlideText {
    width: 100%;
    height: 100%;
    color: wheat;
    font-size: 50px;
    position: absolute;
    top: 40%;
    z-index: 10;
}

.SharedCarouselSlideDesc {
    top: 65%;
    font-size: 2rem;
}

.SharedCarouselButton {
    z-index: 12;
    position: absolute;
    border-top-left-radius: 0;
    border-top-right-radius: 5;
    border-bottom-right-radius: 5;
    border-bottom-left-radius: 0;
    font-weight: bold;
    font-size: 40px;
    margin-top: -3rem;
    width: auto;
    top: 50%;
}

.SharedCarouselButton:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in;
}

.NextButton {
    right: 0;
    right: 0;
    border-top-left-radius: 5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5;
}

.SharedCarouselAllDots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 85%;
    justify-content: center;
    z-index: 15;
}

.SharedCarouselDot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0p;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: inline-block;
}

.SharedCarouselActiveDot {
    background-color: rgba(255, 255, 255, 0.5);
}

.SharedCarouselDot:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
/*
.SharedCarouselControls {
    background-color: aquamarine;
}

.SharedCarouselButton {
    background-color: orange;
}

.SharedCarouselButton.PrevButton {
    background-color: aliceblue;
}

.SharedCarouselButton.NextButton {
    background-color: pink;
}

.SharedCarouselDots {
    background-color: aqua;
} */
